h3 {
    color: rgb(27, 158, 45);
    font-size: 24px;
}
.billy {
    text-align: center;
    margin: 0 auto;
    background: blue;
}
.bob {
    text-align: center;
    margin: 0 auto;
    background: pink;
}
.beds {
    text-align: center;
    margin: 0 auto;
    background: purple;
}
body{
    background:white;
}
#navbar {
    display: flex;

}

img {
    width: 50%;
    height: 50%;
}