body {
    background-color: white;
}
.beds {
    text-align: center;
    margin: 0 auto;
    background: purple;
}
body{
    background:white;
}
#navbar {
    display: flex;

}

img {
    width: 50%;
    height: 50%;
}